*{
    margin: 0px;
    padding: 0px;
}
body{
    background: gray;
}
.container{
    text-align: center;
    
    height: 500px;
    line-height: 500px;
    margin: 150px auto;
}
h1{
    font-size: 100px;
    color: white;
}
