*{
    margin: 0px;
    padding: 0px;
}
body{
    background: gray;
}
.container{
    text-align: center;
    width: 600px;
    margin: 250px auto;
    border: 5px solid white;
    border-radius: 10px;
    padding: 40px;
    background: orange;
}
h1{
    font-size: 30px;
    text-align: center;
    color: white;
}
button{
    font-size: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: white;
    color: darkblue;
    font-weight: bold;
    width: 140px;
    height: 40px;
}